<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						
						<!--
							https://quangtri.vnitt.ac.vn/3cms/ipa/qlvb.ipa
							
							https://www.dropbox.com/s/w6vytpf6rsdjkt4/qlvb.ipa?dl=0
							
							https://hpn.quangbinh.gov.vn/3cms/files/qlvb.ipa
							
							https://qlvbcs.rubbergroup.vn/dms/ios/qlvb.ipa
							
							https://qlvbcs.rubbergroup.vn/dms/ios/VRG.ipa
						-->
						
						
						<string>https://test-adpf.onrender.com/qlvb.ipa</string>

						
					</dict>
				</array>
				<key>metadata</key>				
				
				<dict>
					<key>bundle-identifier</key>
					<string>vnitt2</string>
					<key>bundle-version</key>
					<string>1</string>
					<key>kind</key>
					<string>software</string>
					<key>subtitle</key>
					<string>QLVB</string>
					<key>title</key>
					<string>QLVB</string>
				</dict>
				
			</dict>
		</array>
	</dict>
</plist>


